p {
    text-align: left;
    font-family: 'News Cycle', serif;
    font-size: 15px;
    line-height: 20px;

}

body{
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

.leftColumn {
    float: left;
    display: inline-block;
    height: 700px;
    width: 20%;
    text-align: center;
    padding: 30px;
}

leftColumn h1, a{
    text-transform: uppercase;
}

.leftColumn p {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 6em;
}

.rightColumn {
    float: right;
    display: inline-block;
    width: 50%;
    padding: 60px;
    margin-right: 80px;

}

.rightColumn p{
    overflow: auto;
    height: 500px;
    width: 30em;
}

.title {
    display: block;
}

.rightColumn img{
    float: right;
}

.nav {
    display: block;
    padding: 7px;
    margin: 4px auto;
    color: white;
    background-color: #b5b5b5;
    width: 10em;
}

.beginner {
    font-weight: bold;
}